.fields-dv label
{
	font-weight: bold;
	padding: 0 5px;
	vertical-align: baseline;
}
.fields-dv
{
	margin-top: 10px
}
#full_name
{
	padding: 4px;
    width: 250px;
}
.error{
	border-color: red !important;
}
.response-dv
{
	display: none;
	background-color: #fff;
	width: 95%;
	border: 1px solid #eee;
	padding: 10px;
	margin-top: 10px
}
.response-dv label
{
	font-weight: bold;
	padding: 0 5px
}